.calculadora {
    background: rgb(252, 155, 255);
    width: 200px;
    padding: 10px;
}
#btnCalc {
    background: rgb(255, 153, 229);
    color: rgb(185, 142, 255);
    padding: 5px;
}
#btnCalc:hover {
    background: rgb(255, 89, 97);
    color: black;
    cursor: pointer;
}
